DATABASE_URL="postgresql://myuser:mypassword@localhost:15432/fourkeysdb?schema=public"
GITHUB_API_TOKEN=your_personal_access_token_here # 既存のフロント用とは別にバックエンド用も必要なら
DEFAULT_REPO_OWNER=tahy2201
DEFAULT_REPO_NAME=obs-4keys
GEMINI_API_KEY=
